services:
  # API Gateway (The Entry Point)
  api-gateway:
    build: ./api-gateway
    ports:
      - "8888:8080" # Exposed on 8888 
    networks:
      - private-net

  # Products Service (Hidden behind Gateway)
  products-service:
    build: ./products-service
    networks:
      - private-net

  # Orders Service (Hidden, but talks to Gateway)
  orders-service:
    build: ./orders-service
    environment:
      - APPLICATION_CONFIG_PRODUCTS_URL=http://api-gateway:8080
    networks:
      - private-net
    depends_on:
      - api-gateway

networks:
  private-net:
    driver: bridge
